<html>
<head>
  <meta charset="utf-8">
  <title>Talkie.js - HTML/CSS/JavaScript Presentation Library</title>
  <link rel="stylesheet" href="./assets/Talkie/dist/talkie.min.css">
  <link rel="stylesheet" href="./assets/Talkie/dist/talkie-default.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/monokai_sublime.min.css">
</head>
<body>

<!-- put your slides -->
{{range .Pages}}
<template layout="{{.Option.Layout}}" type="text/x-markdown"
{{with .Option.Backface}} 
          backface="{{.}}"
{{end}}
{{with .Option.BackfaceFilter}} 
          backface-filter="{{.}}"
{{end}}
{{if .Option.Invert}}
          invert
{{end}}
{{with .Option.Style}}
          style="{{.}}"
{{end}}
>
{{.Body}}
</template>
{{end}}

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
<script src="./assets/Talkie/dist/talkie.min.js"></script>
<script>
  var talkie = Talkie({
    wide: {{.RootOption.Wide}},
    control: {{.RootOption.Control}},
    pointer: {{.RootOption.Pointer}},
    progress: {{.RootOption.Progress}},
    backface: {{.RootOption.Backface}},
    notransition: {{.RootOption.NoTransition}},
    linkshouldblank: {{.RootOption.LinkShouldBlank}},
  });
  talkie.key('s').subscribe(talkie.next$);
  talkie.key('n').subscribe(talkie.next$);
  talkie.key('a').subscribe(talkie.prev$);
  talkie.key('p').subscribe(talkie.prev$);
  document.addEventListener('DOMContentLoaded', function() {
    talkie.changed.subscribe(function(current) {
      console.clear();
      // print presenter notes
      console.info(talkie.notes[current.getAttribute('data-page')]);
    });
  });
</script>
</body>
</html>
