<html>
<head>
  <meta charset="utf-8">
  <title>Talkie.js - HTML/CSS/JavaScript Presentation Library</title>
  <link rel="stylesheet" href="./assets/Talkie/dist/talkie.css">
  <link rel="stylesheet" href="./assets/Talkie/dist/talkie.theme-default.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css">
  {{range .CustomCSSs}}
  <link rel="stylesheet" href="{{.}}">
  {{end}}
</head>
<body>

<!-- put your slides -->
{{range .Pages}}
{{if .Option.Script}}
<script
{{else}}
<tk-slide
{{end}}
          layout="{{.Option.Layout}}" type="text/x-markdown"
{{with .Option.Backface}} 
          backface="{{.}}"
{{end}}
{{with .Option.BackfaceFilter}} 
          backface-filter="{{.}}"
{{end}}
{{if .Option.Invert}}
          invert
{{end}}
{{with .Option.Style}}
          style="{{.}}"
{{end}}
>
{{.Body}}
{{if .Option.Script}}
</script>
{{else}}
</tk-slide>
{{end}}
{{end}}

<tk-pager></tk-pager>
<tk-progress></tk-progress>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/dockerfile.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/go.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/typescript.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/vim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/yaml.min.js"></script>
<script src="./assets/Talkie/dist/webcomponents-loader.js"></script>

<script src="./assets/Talkie/dist/talkie.js"></script>
{{range .CustomScripts}}
<script src="{{.}}"></script>
{{end}}
<script>
window.addEventListener('WebComponentsReady', function(e) {
  document.body.className += ' webcomponents-ready';
  talkie.run({
    wide: {{.RootOption.Wide}},
    control: {{.RootOption.Control}},
    pointer: {{.RootOption.Pointer}},
    progress: {{.RootOption.Progress}},
    backface: {{.RootOption.Backface}},
    notransition: {{.RootOption.NoTransition}},
    linkshouldblank: {{.RootOption.LinkShouldBlank}},
  });
});
</script>
</body>
</html>
